#header {
    margin: 0 auto;
    overflow: auto;
    width: 100%;
    text-align: center;
    position: sticky;
    z-index: 100;
    top: 0;
}

.headerGradient {
    mask-image: linear-gradient(white 75%, transparent);
    -webkit-mask-image: linear-gradient(white 75%, transparent);
    background-image: url("../images/background-gradient-small2.jpg");
    background-size: 200vw 100vh;
}

#headerLinks {
    width: fit-content;
    margin: 0 auto;
    overflow: auto;
}
  
#header a, a:link, a:visited, a:hover, a:active {
    display: block;
    color: #0c0c0c;
    text-decoration: none;
}

#headerHome, #headerSkills, #headerProjects, #headerDemos {
    display: inline;
    float: left;
}

#header p {
    margin: 0.2em;
}

@media only screen and (max-width: 600px) {
    #header {
        padding-top: 2em;
        height: 13vh;
    }
    #headerHome, #headerSkills, #headerProjects, #headerDemos {
        margin: 0 2vw;
    }
    #header img {
        width: 18vw;
        height: auto;
    }
}

@media only screen and (min-width: 600px) {
    #header {
        padding-top: 2.5em;
        height: 150px;
    }
    #headerHome, #headerSkills, #headerProjects, #headerDemos {
        margin: 0 2vw;
    }
    #header img {
        width: 12vw;
        height: auto;
    }
}

@media only screen and (min-width: 992px) {
    #header {
        padding: 2.5em 0 0 0;
        height: 150px;
    }
    #headerHome, #headerSkills, #headerProjects, #headerDemos {
        margin: 0 2vw;
    }
    #header img {
        width: 120px;
        height: auto;
    }
}