#projectWrapper {
    padding-bottom: 5em;
}

.projectBox {
    overflow: auto;
}

.projectLeft {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 20px;
    float: left;
    cursor: pointer;
}

.projectRight {
    background-color: #ffffff;
    border-radius: 20px;
    float: right;
    padding: 1em;
    cursor: pointer;
}

.projectContent {
    overflow: auto;
    margin-top: 1em;
    text-align: left;
}

.projectContentImage {
    margin-top: 2em;
}

.projectContentLeft {
    float: left;
    display: inline;
    width: 50%;
}

.projectContentRight {
    float: right;
    display: inline;
    text-align: center;
}

#backButton {
    cursor: pointer;
    background-color: #829df7;
    padding: 0.1em 0.5em;
    border-radius: 20px;
}

.demoBox {
    margin: 3em auto 2em auto;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 20px;
}

.startButton {
    margin: 0 auto;
    background-color: #3c3cc7;
    color: #ffffff;
    padding: 1em;
    border-radius: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    width: fit-content;
}

.githubButton {
    margin: 1.5em auto 0 auto;
    background-color: #b4b4b4;
    padding: 1em;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

#demoWrapper {
    padding: 1em;
    background-color: #ffffff;
    margin: -90px auto 0 auto;
    height: fit-content;
}

@media only screen and (max-width: 600px) {
    .projectBox {
        margin-bottom: 1.5em;
    }
    .projectBox p {
        line-height: 1.5em;
    }
    .projectLeft {
        display: block;
        width: 100%;
        margin-bottom: 1.5em;
        margin-top: 2em;
    }
    .projectLeft img {
        width: 23%;
        height: auto;
    }
    .projectRight {
        display: block;
        width: 100%;
    }
    .projectRight img {
        width: 30%;
        height: auto;
    }
    .projectContentRight {
        width: 100%;
        margin: 1em 0 2em 0;
    }
    .mobileScreenPic {
        display: none;
    }
    .desktopScreenPic {
        width: 100%;
        height: auto;
    }
    #demoWrapper {
        width: 100%;
    }
    .demoBox {
        width: 100%;
    }
}
@media only screen and (min-width: 600px) {
    .projectBox {
        margin: 3em auto 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
    .projectBox {
        width: 100%;
    }
    .projectBox p {
        line-height: 1.75em;
    }
    .projectLeft {
        display: block;
        width: 49%;
    }
    .projectLeft img {
        width: 23%;
        height: auto;
    }
    .projectRight {
        display: block;
        width: 49%;
    }
    .projectRight img {
        width: 30%;
        height: auto;
    }
    .projectContentRight {
        width: 50%;
    }
    .mobileScreenPic {
        width: 60%;
        height: auto;
    }
    .desktopScreenPic {
        display: none;
    }
    #demoWrapper {
        width: 100%;
        padding: 0 1em 1em 1em;
    }
    .demoBox {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    @media only screen and (orientation: landscape) {
        #landingBanner {
            top: -150px;
        }
        #contentWrapper {
            margin-top: -50px;
        }
    }
    .projectContent {
        margin-top: 0;
    }
    .projectBox {
        margin: 3em auto 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
    .projectBox p {
        line-height: 2em;
    }
    .projectLeft {
        width: 49%;
    }
    .projectRight {
        width: 49%;
    }
    .projectLeft img {
        width: 23%;
        height: auto;
    }
    .projectRight img {
        width: 30%;
        height: auto;
    }
    #demoWrapper {
        width: 80%;
        min-width: 900px;
        padding: 0 1em 1em 1em;
    }
    .demoBox {
        width: 75%;
    }
}

@media only screen and (min-width: 1200px) {
    .projectLeft {
        width: 47%;
    }
    .projectRight {
        width: 47%;
    }
    #demoWrapper {
        width: 60%;
        min-width: 1000px;
        padding: 0 1em 1em 1em;
    }

    .demoBox {
        width: 75%;
    }
}