:root {
  --backgroundInitial: 0;
  --backgroundStart: 0;
  --backgroundEnd: 0;
  --contentStart: 100vw;
  --contentMiddle: 0;
  --contentEnd: -100vw;
}

#wrapper {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/mobileBackground01.png");
  background-size: 200vw 100vh;
  background-position-x: var(--backgroundInitial);
}

.wrapper {
  background-position-x: var(--backgroundStart);
  animation-name: background;
  animation-duration: 500ms;
}

@keyframes background {
  from {background-position-x: var(--backgroundStart);}
  to {background-position-x: var(--backgroundEnd);}
}

#header {
  margin: 0 auto;
  overflow: auto;
  width: fit-content;
}

#header a {
  display: block;
}

#headerHome, #headerResume, #headerSites, #headerDemos {
  display: inline;
  float: left;
  margin: 0 1em;
}

.content-enter {
  transform: translate(var(--contentStart), 0);
}

.content-enter-active {
  transform: translate(var(--contentMiddle), 0);
  transition: transform 300ms ease;
}

.content-exit {
  transform: translate(var(--contentMiddle), 0);
}

.content-exit-active {
  transform: translate(var(--contentEnd), 0);
  transition: transform 200ms ease;
}