/*@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Exo:wght@700&display=swap');


font-family: 'Questrial', sans-serif;
*/
@font-face {
  font-family: 'Coolvetica';
  src: local('Coolvetica'), url(./images/coolvetica.otf) format('opentype');
}
@font-face {
  font-family: 'Questrial';
  src: local('Questrial'), url(./images/Questrial-Regular.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  color: #0c0c0c;
  font-family: 'Questrial', sans-serif;
}

h1 {
  width: fit-content;
  margin: 0 auto;
  font-family: 'Coolvetica', sans-serif;
  padding: 0 1em 0 1em;
}

h2 {
  width: fit-content;
  margin: 0 auto;
  font-family: 'Coolvetica', sans-serif;
  padding: 1em;
}

h3 {
  width: fit-content;
  margin: 0 auto;
  font-family: 'Coolvetica', sans-serif;
  padding: 1em;
}

h4 {
  width: fit-content;
  font-family: 'Coolvetica', sans-serif;
  padding: 0;
  margin: 0 auto;
}

p {
  line-height: 2em;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1em;
  }
  p {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1em;
  }
  p {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.5em;
  }
  p {
    font-size: 1.1em;
  }
}

:root {
  --backgroundInitial: 0;
  --backgroundStart: 0;
  --backgroundEnd: 0;
  --contentStart: 100vw;
  --contentMiddle: 0;
  --contentEnd: -100vw;
}

#wrapper {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  background-image: url("./images/background-gradient-small2.jpg");
  background-size: 200vw 100vh;
  background-position-x: var(--backgroundInitial);
  background-attachment: fixed;
}

.wrapper {
  background-position-x: var(--backgroundStart);
  animation-name: background;
  animation-duration: 500ms;
}

@keyframes background {
  from {background-position-x: var(--backgroundStart);}
  to {background-position-x: var(--backgroundEnd);}
}

.content-enter {
  transform: translate(var(--contentStart), 0);
}

.content-enter-active {
  transform: translate(var(--contentMiddle), 0);
  transition: transform 300ms ease;
}

.content-exit {
  transform: translate(var(--contentMiddle), 0);
}

.content-exit-active {
  transform: translate(var(--contentEnd), 0);
  transition: transform 200ms ease;
}