#wrapper {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/mobileBackgroundTest.png");
  background-size: 200vw 100vh;
  background-position-x: -25vw;
  animation-name: background;
  animation-duration: 1s;
}

@keyframes background {
  from {background-position-x: 0;}
  to {background-position-x: -25vw;}
}

#header {
  margin: 0 auto;
  overflow: auto;
  width: fit-content;
}

#headerHome, #headerResume, #headerSites, #headerDemos {
  display: inline;
  float: left;
  margin: 0 1em;
}

#demosMenu {
  max-height: 0;
  width: fit-content;
  transition: max-height .25s ease-out;
  overflow: hidden;
  text-align: right;
  float: right;
}

#demosMenu a {
  display: block;
  padding: 0.2em 1em;
}